<html>
  <head>
    <title>Welcome to my app</title>
  </head>
  <body>

    <div id="root"></div>

    <script src="/static/js/main.chunk.js"></script>
    <script src="/static/js/0.chunk.js"></script>
    <script src="/static/js/bundle.js"></script>


  </body>
</html>